.input-text {
    margin-left: 15px;
    width: 30%;
}

.border-red {
    border: 1px solid red;
}

.invalid {
    color: red;    
    top: -15px;
    position: relative;

}

.ml-3 {
    margin-left: 10px;
}

.loading-icon {
    max-height: 24px;
    max-width: 51px;
}